html,
body,
#root,
.drum-machine {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.drum-machine {
  display: grid;
  padding: 0 25px;
  grid-template:
    'name controls' 2fr
    'space step-headers' 1fr
    'instruments steps' 7fr
    / 1fr 4fr;

  .instruments {
    grid-area: instruments;
    background: purple;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 25px;
  }

  .steps {
    grid-area: steps;
    padding-top: 20px;
    background: paleturquoise;
    width: 100%;
    height: 100%;
    background: red;

    &__row {
      display: grid;
      grid-area: step-headers;
      grid-template-columns: repeat(16, 1fr);
      height: 50px;
      width: 100%;
      margin: 5px 0;
      background: green;
    }

    .step {
      width: 80%;
      max-width: 40px;
      height: 80%;
      border: 1px solid black;

      &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}
