html,
body,
#root,
.drum-machine {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.drum-machine {
  display: grid;
  padding: 0 25px;
  grid-template: 'name controls' 2fr 'space step-headers' 1fr 'instruments steps' 7fr / 1fr 4fr; }
  .drum-machine .instruments {
    grid-area: instruments;
    background: purple;
    display: flex;
    justify-content: flex-end;
    padding: 20px 25px; }
  .drum-machine .steps {
    grid-area: steps;
    background: paleturquoise; }
