html,
body,
#root,
.drum-machine {
  height: 100%; }

.drum-machine {
  display: grid;
  padding: 0 25px;
  grid-template: 'name controls' 2fr 'space step-headers' 1fr 'instruments steps' 7fr / 1fr 4fr; }
  .drum-machine .instruments {
    grid-area: instruments;
    background: purple; }
  .drum-machine .steps {
    grid-area: steps;
    background: paleturquoise; }
