html,
body,
#root,
.drum-machine {
  height: 100%;
  background: black;
  color: hotpink;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.drum-machine {
  display: grid;
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1200px;
  grid-template:
    'name controls' 2fr
    'space step-headers' 1fr
    'instruments steps' 7fr
    / 1fr 4fr;

  .name {
    grid-area: name;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .controls {
    grid-area: controls;
    display: flex;
    justify-content: flex-end;
    padding: 20px;

    & > * {
      display: inline-block;
      align-self: center;
    }

    .button {
      margin-right: 2px;
      width: 45px;
      background: black;
    }

    .button,
    .bpm__input,
    .sequence {
      padding: 0 10px;
      height: 45px;
      border: 1px solid hotpink;
      font-size: 22px;
      font-weight: bold;
    }

    .icon {
      background: hotpink;

      &--stop {
        width: 22px;
        height: 22px;
      }

      &--play {
        width: 0;
        height: 0;
        border-top: 13px solid black;
        border-bottom: 13px solid black;
        border-left: 22px solid hotpink;
      }

      &--disclosure {
        width: 0;
        height: 0;
        border-top: 15px solid hotpink;
        border-left: 12px solid black;
        border-right: 12px solid black;
      }
    }

    .bpm {
      &__input {
        max-width: 43px;
        max-height: 43px;
        background: black;
        color: hotpink;
      }

      &__label {
        margin: 0 32px 0 12px;
        font-size: 22px;
        font-weight: bold;
      }
    }

    .sequence {
      -webkit-appearance: none;
      border-radius: 0;
      background: none;
      color: hotpink;

      &-label {
        padding: 12px;
        height: 19px;
        border: 1px solid hotpink;
        border-left: none;
      }
    }
  }
}
