html,
body,
#root,
.drum-machine {
  height: 100%;
}

.drum-machine {
  display: grid;
  grid-template:
    'name controls' 2fr
    '. stepColumnHeaders' 1fr
    'instruments steps' 7fr
    / 1fr 4fr;

  .name {
    grid-area: name;
  }

  .controls {
    grid-area: controls;
    display: flex;
    justify-content: flex-end;
    align-self: center;

    & > * {
      display: inline-block;
    }
  }

  .step-column-headers {
    grid-area: stepColumnHeaders;
    background: orange;
  }

  .instruments {
    grid-area: instruments;
    background: purple;
  }

  .steps {
    grid-area: steps;
    background: paleturquoise;
  }
}
