.name {
  grid-area: name;
  display: flex;
  align-items: center;
  justify-content: center; }

.controls {
  grid-area: controls;
  display: flex;
  justify-content: flex-end;
  padding: 20px; }
  .controls > * {
    display: inline-block;
    align-self: center; }
  .controls .button {
    margin-right: 2px;
    width: 45px; }
  .controls .button,
  .controls .bpm__input,
  .controls .sequence {
    padding: 0 10px;
    height: 45px;
    border: 1px solid black;
    font-size: 22px;
    font-weight: bold; }
  .controls .icon {
    background: black; }
    .controls .icon--stop {
      width: 22px;
      height: 22px; }
    .controls .icon--play {
      width: 0;
      height: 0;
      border-top: 13px solid white;
      border-bottom: 13px solid white;
      border-left: 22px solid black; }
    .controls .icon--disclosure {
      width: 0;
      height: 0;
      border-top: 15px solid black;
      border-left: 12px solid white;
      border-right: 12px solid white; }
  .controls .bpm__input {
    max-width: 43px;
    max-height: 43px; }
  .controls .bpm__label {
    margin: 0 32px 0 12px;
    font-size: 22px;
    font-weight: bold; }
  .controls .sequence {
    -webkit-appearance: none;
    border-radius: 0;
    background: none; }
    .controls .sequence-label {
      padding: 12px;
      height: 19px;
      border: 1px solid black;
      border-left: none; }

.space {
  background: yellow; }

.step-headers,
.space {
  border-top: 1px solid black;
  border-bottom: 1px solid black; }

.step-headers {
  grid-area: step-headers;
  background: orange; }
