.name {
  grid-area: name;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  grid-area: controls;
  display: flex;
  justify-content: flex-end;
  padding: 20px;

  & > * {
    display: inline-block;
    align-self: center;
  }

  .button {
    margin-right: 2px;
    width: 45px;
  }

  .button,
  .bpm__input,
  .sequence {
    padding: 0 10px;
    height: 45px;
    border: 1px solid black;
    font-weight: bold;
  }

  .icon {
    background: black;

    &--stop {
      width: 22px;
      height: 22px;
    }

    &--play {
      width: 0;
      height: 0;
      border-top: 13px solid white;
      border-bottom: 13px solid white;
      border-left: 22px solid black;
    }
  }

  .bpm {
    &__input {
      max-width: 25px;
      max-height: 43px;
    }

    &__label {
      margin: 0 32px 0 12px;
      font-weight: bold;
    }
  }

  .sequence {
    -webkit-appearance: none;
    height: 45px;
    border-radius: 0;
    background: none;
  }
}

.space {
  background: yellow;
}

.step-headers,
.space {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.step-headers {
  grid-area: step-headers;
  background: orange;
}
