.name {
  grid-area: name;
  display: flex;
  align-items: center;
  justify-content: center; }

.controls {
  grid-area: controls;
  display: flex;
  justify-content: flex-end;
  align-self: center;
  padding: 20px; }
  .controls > * {
    display: inline-block; }
  .controls .bpm__label {
    margin: 0 32px 0 12px; }

.space {
  background: yellow; }

.step-headers,
.space {
  border-top: 1px solid black;
  border-bottom: 1px solid black; }

.step-headers {
  grid-area: step-headers;
  background: orange; }
