.step-headers,
.space {
  border-top: 1px solid hotpink;
  border-bottom: 1px solid hotpink; }

.step-headers {
  display: grid;
  grid-area: step-headers;
  grid-template-columns: repeat(16, 1fr);
  justify-items: center;
  font-weight: bold; }
  .step-headers .step-header {
    display: flex;
    align-items: center; }
